<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <title>Rubymotion #Inspect 2013</title>

  <link href="sass_css/survey.css" rel="stylesheet" type="text/css">
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Chicle' rel='stylesheet' type='text/css'>

  <script language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

  <script language="javascript">
      $(document).ready(function () {
          var theScroll;
          theScroll = new iScroll('wrapper');

          $(".action").click(function () {
              console.log(event.target.id);
              $.post("/action", event.target.id);
              $("footer").html("Thanks for your feedback!").addClass("response");
          })

      });

  </script>
</head>

<body>

<header>
  Header
</header>
<div class="mainContent">

  <div class="section-odd" id="0">
    Intro
  </div>

  <div class="section-even" id="1">
    <div class="view-screenshot">
      <img src="http://placehold.it/350x450">
    </div>
    <div class="view-desc">desc</div>
  </div>
  <div class="section-odd" id="2">
    <div class="view-screenshot">
      <img src="http://placehold.it/350x450">
    </div>
    <div class="view-desc">desc</div>
  </div>

  <div class="section-even" id="3">
    <div class="view-screenshot">
      <img src="http://placehold.it/350x450">
    </div>
    <div class="view-desc">desc</div>
  </div>
</div>


<script type="text/javascript" src="/javascripts/iscroll-lite.js"></script>
</body>
</html>​