<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimum-scale=1.0, maximum-scale=1.0">
  <title>Rubymotion #Inspect 2013</title>

  <link href="sass_css/survey.css" rel="stylesheet" type="text/css">
  <link href="css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href='http://fonts.googleapis.com/css?family=Chicle' rel='stylesheet' type='text/css'>

  <script language="javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>

  <script language="javascript">
      $(document).ready(function () {

          $(".action").click(function () {
              console.log(event.target.id);
              $.post("/action", event.target.id);
              $("footer").html("Thanks for your feedback!").addClass("response");
          })

      });

  </script>
</head>

<body>

<!--<header>
  Header
</header>-->
<div class="mainContent">

<!--  <div class="ribbon-wrapper-green">
    <div class="ribbon-green">NEWS</div>
  </div>-->

  <div class="intro-wrapper">
    <div id="intro">
      <div class="view-screenshot">
        <img src="/images/app/intro.png">
      </div>
      <div class="view-desc">
        <div class="text-desc">
          Rubymotion Conference App Developed in Rubymotion
        </div>

        <div class="disclaimer">
          Rubymotion is an awesome toolchain for iOS development. <br>This is just a side project I started.

          <div class="myprofile">
            <a href="https://twitter.com/iansari" class="twitter-follow-button" data-show-count="false">Follow @iansari</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </div>

          It's <b>NOT</b> an official App from HipByte for the conference.

        </div>


        <div class="store-signup" id="signup">

          <!-- Begin MailChimp Signup Form -->
          <div id="mc_embed_signup">
            <div class="signup-text">
              Signup to be notified when the App hits the store.
            </div>
            <form action="http://herokuapp.us6.list-manage2.com/subscribe/post?u=bf2c650162&amp;id=0e8517c32f" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
              <div class="mc-field-group">
                <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Enter your email here..">
                <input type="submit" value="Let me know" name="subscribe" id="mc-embedded-subscribe" class="signup-button">
              </div>

              <!--<span class="subtle-text">Your email will never be shared wth anyone else.</span>-->
            </form>
          </div>

          <!--End mc_embed_signup-->
        </div>

        <div class="store-signup" id="store" style="display: none">
          <img src="/images/apple_store@2x.png">
        </div>
      </div>
    </div>
  </div>


  <div class="even-row">
    <div class="section-even" id="1">
      <div class="view-screenshot">
        <img src="/images/app/speaker-list.png">
      </div>
      <div class="view-desc">Speakers</div>
    </div>
  </div>


  <div class="odd-row">
    <div class="section-odd" id="2">
      <div class="view-desc">Speaker Profile</div>
      <div class="view-screenshot">
        <img src="/images/app/speaker-detail.png">

      </div>
    </div>
  </div>

  <div class="even-row">
    <div class="section-even" id="3">
      <div class="view-screenshot">
        <img src="/images/app/social-profile.png">
      </div>
      <div class="view-desc">Twitter Profile</div>
    </div>
  </div>

  <div class="odd-row">
    <div class="section-odd" id="4">
      <div class="view-desc">Venue</div>
      <div class="view-screenshot">
        <img src="/images/app/location.png">
      </div>
    </div>
  </div>

  <!--  <div class="section-even" id="5">
      <div class="view-screenshot">
        <img src="/images/app/deck.png" width="270px">
      </div>
      <div class="view-desc">desc</div>
    </div>-->


</div>


</body>
</html>​